fastapi
fastapi-offline
uvicorn
gunicorn
aiofiles
requests
httpx
python-multipart
ujson
msgpack
tqdm
#icc-rt
numba
numpy>=1.24,<2
opencv-python-headless>=4.7.0,<5
scikit-image
onnx==1.17.0
onnxruntime==1.17.0
#onnx-simplifier
git+https://github.com/lilohuang/PyTurboJPEG.git
exifread
tritonclient[http,grpc]
imageio
aiohttp
tenacity
colorlog
faiss-cpu


